<div #viewport
    class="container"
    [ngClass]="viewportClass"
    (wheel)="onScaleChange($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (mousedown)="onMouseDown($event)"
    (contextmenu)="onRightClick($event)">

    <ng-container *ngFor="let layer of scene.layers.slice().reverse()">
        <canvas *ngIf="layer.isVisible" [id]="layer.name" [ngStyle]="layerStyle"></canvas>
    </ng-container>

    <canvas [id]="gridLinesLayerId" [ngStyle]="layerStyle"></canvas>
    <canvas [id]="highlightLayerId" [ngStyle]="layerStyle"></canvas>

    <div *ngIf="isContextMenuOn" [ngStyle]="contextMenuStyle" class="context-menu" fxLayout="column">
        <div (mouseup)="removeGridContent()" fxLayoutAlign="start center">
            <span>remove sprite</span>
        </div>
    </div>
</div>
