.container {
    width: 100%;
    height: 100%;
    background-color: inherit;
}

app-sprite-previewer {
    position: absolute;
    width: 60vw;
    height: 75vh;
    background-color: rgb(255, 255, 255);
}

app-sprite-manager-toolbar {
    height: 35px;
}

.sprite-files {
    padding: 1.5vh 2.5vh;
}

app-sprite-thumbnail-item {
    margin-bottom: 1.5vh;
    width: 15vh;
    height: 15vh;
}
