<div class="container">
    <app-sprite-previewer *ngIf="previewing"
        [file]="previewing"
        [confirmAction]="'Import'"
        (cancel)="previewing = null"
        (confirm)="onFileImport()"
        cdkDrag>
    </app-sprite-previewer>

    <app-sprite-editor *ngIf="editing"
        [file]="editing"
        cdkDrag>
    </app-sprite-editor>

    <div *ngIf="!files.length" fxLayoutAlign="center center" fxFlex>
        <app-file-picker [message]="'no sprite available'"
            [buttonText]="'Import Sprite'"
            [allowExtension]="['png', 'jpg']"
            (fileSelect)="onFilePreview($event)">
        </app-file-picker>
    </div>

    <div *ngIf="files.length" fxLayout="column" fxFlex>
        <app-sprite-manager-toolbar (fileSelect)="onFilePreview($event)"></app-sprite-manager-toolbar>

        <div class="sprite-files" fxLayout="row wrap" fxLayoutAlign="space-between">
            <app-sprite-thumbnail-item *ngFor="let file of files"
                [file]="file"
                (editStart)="editing = file"
                (delete)="onFileDelete(file)">
            </app-sprite-thumbnail-item>
        </div>
    </div>
</div>
