<div class="container">
    <app-sprite-previewer *ngIf="previewed"
        [file]="previewed"
        [confirmAction]="'Import'"
        (cancel)="previewed = null"
        (confirm)="onFileImported(previewed)"
        cdkDrag>
    </app-sprite-previewer>

    <app-file-picker *ngIf="!files.length"
        [message]="'no sprite available'"
        [buttonText]="'Import Sprite'"
        [allowExtension]="['png', 'jpg']"
        (fileSelect)="onFilePreviewed($event)">
    </app-file-picker>

    <div *ngIf="files.length" fxLayout="column" fxFlex>
        <div class="sprite-toolbar"></div>

        <div class="sprite-files" fxLayout="row wrap" fxLayoutAlign="space-between">
            <div *ngFor="let file of files" fxLayout="column">
                <div fxFlex></div>
                <span>{{ file.name }}</span>
            </div>
        </div>
    </div>
</div>
