@import '../../../../../styles/presets.scss';

:host,
.container {
    @include drag-panel-style;
}

:host ::ng-deep .cdk-drag-handle {
    position: absolute;
    width: 100%;
    height: 7.5%;
    cursor: move;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;

    & > div:first-of-type {
        width: 100%;
    }

    app-image-blob-display {
        width: 75%;
        height: 80%;
    }

    & > button {
        position: absolute;
        top: 2%;
        right: 1.5%;
    }
}
