:host,
.container {
    height: 100%;
}

.container {
    padding: 0 12px;
    color: black;
    background-color: rgb(170, 170, 170);

    &:hover {
        cursor: pointer;
        background-color: rgb(155, 155, 155);
    }
}

.active {
    color: white;
    background-color: rgb(125, 125, 125);
}
