@import '../../../../styles/presets.scss';

:host,
.container {
    @include drag-panel-style;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;

    & > div:first-of-type {
        width: 100%;
        cursor: move;
    }

    & > button:first-of-type {
        position: absolute;
        top: 2%;
        right: 1.5%;
    }

    app-image-display-panel,
    image-cropper {
        width: 75%;
        height: 80%;
    }

    & > div:last-of-type {
        width: 100%;
    }
}
