<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <app-sprite-previewer *ngIf="isPreviewing"
        [file]="targetFile"
        (cancel)="isPreviewing = false"
        cdkDragBoundary="body"
        cdkDrag>

        <div cdkDragHandle></div>
    </app-sprite-previewer>

    <ng-content></ng-content>
    <app-editable-text-box [content]="targetFile.name" (contentEdit)="onNameEdit($event)"></app-editable-text-box>
    <button (click)="cancel.emit()">X</button>

    <div fxLayout="row" fxFlex="92.5">
        <div class="action-panel" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px" fxFlex="15">
            <button (click)="onImageRotate()">Rotate 90°</button>
            <button (click)="onImageFlip()">Flip Horizontally</button>
            <button (click)="onImageFlip(true)">Flip Vertically</button>
        </div>

        <div class="crop-panel" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex="85">
            <image-cropper *ngIf="targetFile.content"
                #cropper
                format="jpeg"
                [imageFile]="targetFile.content"
                [autoCrop]="false"
                [transform]="transform"
                (cropperReady)="onCropperReady()">
            </image-cropper>

            <image-cropper *ngIf="!targetFile.content"
                #cropper
                format="jpeg"
                [imageURL]="targetFile.originalUrl"
                [autoCrop]="false"
                [transform]="transform"
                (cropperReady)="onCropperReady()">
            </image-cropper>

            <ng-container *ngIf="isCropperReady">
                <div fxLayoutAlign="start center" fxLayoutGap="5px">
                    <input type="range" min="10" max="60" value="20" (input)="onImageScale($event.target.value)" />
                    <span>({{ scale }})</span>
                </div>

                <div fxLayoutAlign="center center" fxLayoutGap="5px">
                    <button (click)="isPreviewing = true">Preview</button>
                    <button *ngIf="!file.isImported" (click)="importNew.emit(targetFile)">Import</button>
                    <button *ngIf="file.isImported" (click)="onImageSave()" [disabled]="!isModified">Save</button>
                    <button (click)="onImageCropped()">Crop</button>
                    <button (click)="onImageReset()">Reset</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>
