:host,
.container {
    border-radius: 3px;
}

:host {
    transition: background-color 0.35s;
}

.container {
    $gap: 5px;
    padding: 3px;
    width: 100%;
    height: 100%;

    app-image-display-panel {
        $panel-height: calc(90% - #{$gap} * 3);
        margin: $gap;
        min-height: $panel-height;
        max-height: $panel-height;
    }

    & > span {
        padding-bottom: $gap;
        height: 10%;
    }
}
