<div class="container no-select" fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayoutAlign="center center" fxLayoutGap="5px">
        <button (click)="editStart.emit()">Edit</button>
        <button (click)="delete.emit()">Delete</button>
    </div>

    <app-image-blob-display *ngIf="file.content" [blob]="file.content"></app-image-blob-display>
    <img *ngIf="!file.content" [src]="file.thumbnailUrl" />

    <span *ngIf="!isEditingName"
        (click)="toggleNameEdit()"
        fxFlexAlign="center">

        {{ file.name }}
    </span>

    <input *ngIf="isEditingName"
        #nameInput
        type="text"
        [ngModel]="file.name"
        (blur)="toggleNameEdit('blur')"
        (keyup.enter)="toggleNameEdit('keyup')"
        fxFlexAlign="center"
        maxLength="40" />
</div>
