<div class="container no-select"
    [ngClass]="{ 'drag-mode': isDragMode }"
    (mousedown)="onHoldStart($event)"
    (mouseup)="onHoldCancel()"
    (mouseleave)="onHoldCancel()"
    fxLayout="column"
    fxLayoutAlign="space-between center">

    <div *ngIf="!isDragMode" fxLayoutAlign="center center" fxLayoutGap="5px">
        <button (mousedown)="ignoreDrag($event)" (click)="editStart.emit()">Edit</button>
        <button (mousedown)="ignoreDrag($event)" (click)="delete.emit()">Delete</button>
    </div>

    <img [src]="file.thumbnailUrl" draggable="false" />

    <app-editable-text-box-embedded *ngIf="!isDragMode"
        [content]="file.name"
        [textAlign]="'center'"
        (contentChange)="nameChange.emit($event)"
        (mousedown)="ignoreDrag($event)">
    </app-editable-text-box-embedded>
</div>
