.container {
    width: 100%;
    height: 100%;
}

app-top-toolbar {
    height: 60px;
    background-color: lightcoral;
}

app-scene-builder {
    background-color: lightblue;
}

app-sprite-editor,
.content > div:last-of-type {
    background-color: lightgray;
}

.content > div:nth-of-type(2) > div:last-of-type {
    background-color: lightcoral;
}
