<div class="container" fxLayout="column">
    <app-top-toolbar (createScene)="onCreateScene()"></app-top-toolbar>

    <div class="content" fxLayout="row" fxFlex>
        <app-tool-set-panel #toolSet [tools]="tools" [ngSwitch]="toolSet.activeTool" fxFlex="20">
            <app-sprite-manager *ngSwitchCase="tools[0]"></app-sprite-manager>
            <app-scene-manager *ngSwitchCase="tools[1]"></app-scene-manager>
        </app-tool-set-panel>

        <div fxLayout="column" fxFlex="60">
            <app-scene-builder [scene]="activeScene" fxFlex="75"></app-scene-builder>
            <div fxFlex="25"></div>
        </div>

        <div fxFlex="20"></div>
    </div>
</div>
