<div class="container" fxLayout="column">
    <div *ngIf="!(activeScene$ | async)" fxLayoutAlign="center center" fxFlex>
        <span>no active scene</span>
    </div>

    <ng-container *ngIf="activeScene$ | async">
        <div class="file-tabs" fxLayoutAlign="start center" fxFlex="5vh">
            <app-file-tab *ngFor="let scene of activeScenes$ | async"
                [name]="scene.name"
                [isActive]="(activeScene$ | async).id === scene.id"
                (tabSelect)="onSceneSelected(scene)"
                (tabClose)="onSceneClose(scene)">
            </app-file-tab>
        </div>

        <div #viewport class="viewport" fxFlex>
            <div *ngFor="let layer of (activeScene$ | async).layers" fxLayout="column">
                <div class="grid-row" *ngFor="let row of layer.grids" fxLayout="row" fxFlex="100px">
                    <div class="grid" *ngFor="let grid of row" fxFlex="100px">

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
