<div class="container" fxLayout="column">
    <div *ngIf="!(activeScene$ | async)" fxLayoutAlign="center center" fxFlex>
        <span>no active scene</span>
    </div>

    <ng-container *ngIf="activeScene$ | async">
        <div class="file-tabs" fxLayoutAlign="start center" fxFlex="5vh">
            <app-file-tab *ngFor="let scene of activeScenes$ | async"
                [name]="scene.name"
                [isActive]="(activeScene$ | async).id === scene.id">
            </app-file-tab>
        </div>

        <div class="viewport" fxFlex></div>
    </ng-container>
</div>
