<div class="container" fxLayout="column">
    <div *ngIf="!(activeScene$ | async)" fxLayoutAlign="center center" fxFlex>
        <span>no active scene</span>
    </div>

    <ng-container *ngIf="activeScene$ | async">
        <div fxLayoutAlign="start center" fxFlex="3.5vh">
            <app-file-tab *ngFor="let scene of openedScenes$ | async"
                [name]="scene.name"
                [isActive]="(activeScene$ | async).id === scene.id"
                (tabSelect)="onSceneSelected(scene)"
                (tabClose)="onSceneClose(scene)">
            </app-file-tab>
        </div>

        <div fxFlex>
            <app-scene-viewport [scene]="activeScene$ | async"
                [draggedSprite]="draggedSprite$ | async"
                (sceneChange)="onSceneChange($event)"
                fxFlex>
            </app-scene-viewport>

            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50px">
                <div><i class="fas fa-layer-group"></i></div>
            </div>
        </div>
    </ng-container>
</div>
