.container {
    $splitter-color: grey;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;

    .header,
    .layers > div {
        padding: 3px 10px;
    }

    .header {
        position: relative;

        button {
            position: absolute;
            right: 3px;
        }
    }

    .layers {

        & > div:first-of-type {
            margin-top: 5px;
            border-top: 1px solid $splitter-color;
        }

        & > div {
            width: 100%;
            border-bottom: 1px solid $splitter-color;
        }

        button {
            cursor: pointer;
        }
    }
}
