<div *ngIf="hasFetchedDescriptors$ | async" class="container">
    <div *ngIf="!(allDescriptors$ | async).length" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px" fxFlex>
        <span>no scenes found.</span>
        <button (click)="onSceneCreate()" [disabled]="(canAddScene$ | async) === false">Create Scene</button>
    </div>

    <div *ngIf="(allDescriptors$ | async).length" fxLayout="column" fxFlex>
        <app-mini-toolbar [actionOptions]="toolbarOptions$ | async"
            (fileCreate)="onSceneCreate()"
            (fileSearch)="onSceneSearch($event.toLowerCase())">
        </app-mini-toolbar>

        <div *ngIf="!(filteredDescriptors$ | async).length" fxLayoutAlign="center center" fxFlex>
            <span>no matching scenes found.</span>
        </div>

        <div *ngIf="(filteredDescriptors$ | async).length" class="scenes" fxLayout="column" fxLayoutGap="4px">
            <div *ngFor="let descriptor of filteredDescriptors$ | async" (click)="onSceneOpen(descriptor)" fxLayoutAlign="start center">
                <span>{{ descriptor.name }}</span>
                <button (click)="onDelete(descriptor)">Delete</button>
            </div>
        </div>
    </div>
</div>
