<div *ngIf="isLoaded" class="container">
    <div *ngIf="!scenes.length" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px" fxFlex>
        <span>no scenes found.</span>
        <button (click)="onSceneCreate()">Create Scene</button>
    </div>

    <div *ngIf="scenes.length" fxLayout="column" fxFlex>
        <app-mini-toolbar [activeOptions]="toolbarOptions"
            (fileCreate)="onSceneCreate()"
            (fileSearch)="filter = $event.toLowerCase()">
        </app-mini-toolbar>

        <div *ngIf="!filteredScenes.length" fxLayoutAlign="center center" fxFlex>
            <span>no matching scenes found.</span>
        </div>

        <div *ngIf="filteredScenes.length" class="scenes" fxLayout="column" fxLayoutGap="4px">
            <div *ngFor="let scene of filteredScenes" fxLayoutAlign="start center">
                <span>{{ scene.name }}</span>
                <button (click)="onDelete(scene)">Delete</button>
            </div>
        </div>
    </div>
</div>
