<div *ngIf="isSceneLoaded$ | async" class="container">
    <div *ngIf="!(hasScenes$ | async)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px" fxFlex>
        <span>no scenes found.</span>
        <button (click)="onSceneCreate()">Create Scene</button>
    </div>

    <div *ngIf="hasScenes$ | async" fxLayout="column" fxFlex>
        <app-mini-toolbar [activeOptions]="toolbarOptions"
            (fileCreate)="onSceneCreate()"
            (fileSearch)="onSceneSearch($event.toLowerCase())">
        </app-mini-toolbar>

        <div *ngIf="!(filteredScenes$ | async).length" fxLayoutAlign="center center" fxFlex>
            <span>no matching scenes found.</span>
        </div>

        <div *ngIf="(filteredScenes$ | async).length" class="scenes" fxLayout="column" fxLayoutGap="4px">
            <div *ngFor="let scene of filteredScenes$ | async" (click)="onSceneOpen(scene)" fxLayoutAlign="start center">
                <span>{{ scene.name }}</span>
                <button (click)="onDelete(scene)">Delete</button>
            </div>
        </div>
    </div>
</div>
